.spacesImg {
  height: 6rem;
}

.NewSpace {
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  height: 95.8%;
  width: 100%;
}

.text-36 {
  /* font-family: SF Pro Display; */
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.paddingAll {
  padding: 10px 51px;
  background: rgba(0, 100, 250, 0.1);
}

.paddingNew {
  padding: 10px 44px;
}

.bg-lightYellow {
  background: rgb(255 193 7 / 10%) !important;
}

.bg-lightBlue {
  background: rgba(0, 100, 250, 0.1);
}

.new-space-modal .modal-content {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05) !important;
  border-radius: 16px !important;
}

.new-space-modal .modal-content .modal-body,
.modal-header {
  padding: 24px 32px;
}

.new-space-modal .field-container>div {
  height: 56px;
}

.new-space-modal .field-container {
  margin-bottom: 4px !important;
}


.new-space-modal .rmdp-container {
  width: 100% !important;
}

.rmdp-week-day {
  color: black !important;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background: linear-gradient(90deg, #fb7c5f 1.2%, #df525b 100%) !important;
}

.rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
  background-color: rgba(255, 87, 87, 0.1) !important;
  color: #000 !important;
}

.rmdp-day.rmdp-today span {
  background-color: rgba(255, 87, 87, 0.1) !important;
  color: #000 !important;
}

.rmdp-range {
  background-color: rgba(255, 87, 87) !important;
  box-shadow: 0 0 3px rgb(77 17 17 / 19%) !important;
}

.modal-tabs {
  flex-wrap: wrap;
}

.btn-blue {
  background: var(--color, linear-gradient(90deg, #f9785e 0%, #e1565b 100%)) !important;
  border-radius: 8px !important;
  font-weight: 700;
  height: 56px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 020px;
  border: 0;
}

.btn-white {
  background: #fff;
  border-radius: 8px !important;
  font-weight: 700;
  height: 56px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
  border: 0;
  padding: 0 20px;
}


.h-fit-content {
  height: fit-content !important;
}

.white-btn {
  background: #f7f7f7 !important;
  border: 0 !important;
  font-weight: 700;
  border-radius: 8px;
  border-radius: 8px !important;
  height: 56px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary) !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.section-main {
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 16px;
}

@media screen and (max-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important;
  }
}

@media screen and (min-width: 767px) {
  .w-md-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: 991px) {
  .w-xl-100 {
    width: 100% !important;
  }
}

.py-20px {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

@media screen and (max-width: 1487px) {
  .dropOnSmall {
    display: block !important;
  }
}

@media screen and (max-width: 1487px) {
  .hideOnSmall {
    display: none !important;
  }
}

.min-w-100 {
  min-width: 100px;
}

.css-1xc3v61-indicatorContainer {
  display: none !important;
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
}

.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
  border-radius: 0px !important;
  border-style: none !important;
  border-width: 0px !important;
  box-sizing: border-box;
}

.css-b62m3t-container {
  width: 100% !important;
}

.height-40px {
  height: 40px !important;
}

.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h-40px {
  height: 40px !important;
}