.topbar-radio-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px !important;
  align-items: center !important;
  width: 100%;
  color: var(--primary);
  transition: background-color 0.4s ease;
  padding: 4px 12px;
}

.radio-active {
  border-radius: 6px;
  color: white;
  width: 100%;
}

.svg-inactive {
  fill: black;
}

.radio-active svg path {
  color: #f1f6f7;
  fill: white !important;
  stroke: white;
}

.radioBtn {
  border-radius: 20px;
}

.top-popup-primary {
  color: var(--primary);
}

.top-dropbtn-style {
  color: var(--black) !important;
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  display: flex !important;
  align-items: center;
  padding: 0 !important;
  gap: 16px;
}

.top-dropbtn-style::after {
  display: none;
}
