body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.form-check-input:checked {
  background-color: #df525b !important;
  border-color: #df525b !important;
}
.form-check-input {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.form-check-input:focus {
  border-color: #df525b !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(223, 82, 92, 0.112) !important;
}

.form-switch .form-check-input:focus,
.form-switch .form-check-input {
  background-image: url(../src/assets/images/icons/switch.svg) !important;
}
